<header class="navbar navbar-toggleable fixed-top">  
   
    <a  class="icono-menu">
        <img src="../../../assets/image/Rayas menú.svg" alt="">
      </a>
    
    <a class="navbar-brand mb-0">    
        
        <img src="../../../assets/image/Logo_Blanco_Naranja.svg" alt="">
        
    </a>
    <a class="icono-ayuda"><img src="../../../assets/image/Ayuda.svg" alt=""></a>
               
    <div class="navbar-nav ml-auto">    
        <div class="nav-item  mr-2">
            <div class="form-group mr-3 mt-2">  
                   
                   
            </div>      
            <i class="pi pi-user mr-1" aria-hidden="true"></i>      
            <span class="mx-3">{{usuario.userName}}</span>     
            <i class="pi pi-sign-out ml-4" (click)="signout()"  aria-hidden="true"></i>    
        </div>  
    </div>
    
</header>